<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      InfoHub App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">InfoHub</ion-title>
    </ion-toolbar
    >
  </ion-header>

  <div id="container">
    <img src="assets/icon/bookicon.jpg" alt="Description of the icon" alt="Book Sharing Illustration" id="main-image" />
    <h1>Welcome to InfoHub!</h1>
    <p>We're glad you're here. Your team has just deployed the application, and we're excited to share our progress with you.</p>
    <p>If you'd like to see the changes or discuss further work, please feel free to get in touch with us.</p>

    <ion-button expand="block" class="custom-pink">View Project Details</ion-button>

    <ion-button expand="block" color="secondary">Contact Team</ion-button>
  </div>
</ion-content>
